.logo{
    width: 100px;
}
.container{
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.button{
    color: aliceblue;
    list-style: none;
    padding: 30px;
  
    
}
.menu{
    display: flex;
    


}